.player {
  border: 2px solid;
  margin-top: 5px;
}

.inputError {
  border-color: red;
}

.container-mine {
  margin: auto;
  width: 100%;
  height: 80%;
}

.mine-settings {
  width: 25%;
  height: 500px;
  float: left;
  border-right: #000 2px;
}

.mine-field {
  width: 65%;
  border-left: 2px solid #000;
}

.fade {
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}

.unfade {
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}

.isSnake {
  background-color: black;
}

.isApple {
  background-color: red;
}

.revealed {
  background-color: rgb(121, 99, 0);
}

.cell {
  display: table-cell;
  position: relative;
  font-weight: bold;
  min-width: 24px;
  border: #ddd 1px solid;
}

.cell-snake {
  display: table-cell;
  position: relative;
  font-weight: bold;
  min-width: 8px;
}

.cell:hover {
  background-color: rgb(60, 255, 128);
}

.row-minesweeper {
  background-color: #3ba861;
  min-height: 24px;
  display: table;
  margin: 0 auto;
}

.row-snake {
  min-height: 8px;
  display: table;
  margin: 0 auto;
}
