* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 65px;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

body {
  height: 100%;
}

ul {
  list-style: none;
}

.nav-checkbox {
  position: absolute;
  opacity: 0;
  z-index: 15;
  width: 30px;
  height: 30px;
}

/* Icon 1 */
.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #e3f2fd;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.nav-checkbox:checked ~ div span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-checkbox:checked ~ div span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.nav-checkbox:checked ~ div span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.home-text {
  position: absolute;
  top: 15%;
  left: 50%;
  min-width: 400px;
  margin-left: -15%;
  width: 30%;
  height: 15%;
}

.default-margin {
  margin: 5px;
}

.height-full {
  height: 100%;
  width: 100%;
}

.home-background {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -100;
}

/* NAV */
.locale-changer {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.nav-font {
  font-size: 20px;
  color: white;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 18px 16px;
  text-decoration: none;
}

label {
  user-select: none;
}

.hidden-check {
  position: absolute;
  left: -100vw;
}

nav {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  height: 60px;
  background-color: #333;
}

.nav-wrapper > li {
  background-color: #333;
}

.nav-wrapper > li:hover {
  background-color: #444;
}

@media (min-width: 599px) {
  .nav-toggle {
    display: none;
  }
  .nav-wrapper {
    width: 100%;
    position: fixed;
    display: flex;
    height: inherit;
  }


  .dropdown-content {
    position: absolute;
    top: 60px;
    z-index: -1;
  }

  .dropdown {
    min-width: 200px;
    display: flex;
    justify-content: center;
  }
  
  .dropdown > input[type="checkbox"]:checked ~ div {
    animation: dropdownAnim 0.7s;
  }
}

@media (max-width: 599px) {
  .nav-wrapper {
    position: fixed;
    display: block;
    background-color: #333;
    max-width: 75%;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out, opacity 0.3 ease-out;
  }
  .nav-checkbox:checked ~ .nav-wrapper {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease-out, opacity 0.3s ease-out;
  }

  .nav-toggle {
    display: block;
    background-color: #333;
    border: none;
    margin: 17px;
  }

  .dropdown-content {
    position: relative;
    margin-top: 3px;
    margin-bottom: -10px;
    padding-left: 10px;
  }
}

/* Dropdown button */
.dropdown-toggle {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  background-color: #555;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  
}



/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #656565;
}

@keyframes dropdownAnim {
  0%{
    transform: translateY(-100%);
    }
  100%{transform: translateY(0);}
}



.dropdown > input[type="checkbox"]:checked ~ div {
  display: block;
}

