.map-back {
  background-size: 100% 100%;
  top: 50px;
  position: fixed;
  opacity: 0.3;
  z-index: -4;
  display: block;
}

.image-back {
  z-index: -5;
  opacity: 0.6;
  position: fixed;
}

.red-dot-map-pos {
  z-index: -3;
  position: fixed;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #f00;
}

.container {
  display: block;
}


@media (min-width: 599px) {
  .container {
    width: clamp(200px, 80%, 2000px);
    padding-left: clamp(5px, 10%, 200px);
  }
}

@media (max-width: 599px) {
  .container{
    left: 10px;
    right: 10px;
  }
}

.text-center{
  text-align: center;
}

.font-title{
  font-weight: 700;
}

.text-nz {
  font-size: 19px;
  white-space: pre-wrap;
  font-weight: 600;
}

.link-nz {
  display: inline-block;
  padding: 0.25rem 1.5rem;
  font-size: 30px;
  color: #212529;
  border: 2px solid;
  margin: 5px;
  padding: -5px;
}

.link-nz:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

.btn-transition {
  opacity: 0.3;
  border: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 10%;
  transition: opacity 0.3s;
  z-index: 5;
}

.btn-transition:hover {
  opacity: 1;
}

.btn-right {
  right: 0;
  background: linear-gradient(to right, rgb(0, 0, 0, 0), rgb(255, 255, 255, 1));
}

.btn-left {
  left: 0;
  background: linear-gradient(to left, rgb(0, 0, 0, 0), rgb(255, 255, 255, 1));
}

.width50 {
  width: 50%;
}

.image-P {
  height: 200px;
  display: inline-block;
  background-size: 100% 100%;
  transition: all 0.5s;
  position: relative;
  margin: 5px;
}

.img-enlarged {
  background-color: white;
  z-index: 10;
  background-size: 100% 100%;
  max-height: 800px;
  height: auto;
  width: 100%;
}

.clear-btn {
  background-color: rgb(255, 255, 255, 0.5);
  border-width: 0px;
}

.btn-shrink {
  z-index: 11;
  position: absolute;
  top: 10px;
  right: 0px;
}

.btn-enlarge {
  position: absolute;
  opacity: 0;
  bottom: 5px;
  right: 5px;
  transition: opacity 0.2s;
}

.image-P:hover ~ .btn-enlarge {
  opacity: 1;
}

.btn-enlarge:hover {
  opacity: 1;
}

.test-margin-neg {
  margin-right: -50px;
}
